/* {
    border: solid red 1px;
}*/

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.top-background {
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    align-items: center;
}

.top-body {
    display: flex;
    flex-direction: column;
    width: 1000px;
    justify-content: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
    margin-top: 10px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    display: flex;
    list-style: none;
    font-family: 18px;
    color: #e5e7eb;
    gap: 10px;
    margin: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.top-content-container {
    display: flex;
    gap: 18px;
    margin-bottom: 48px;
}


.left-top-content,
.right-top-content {
    display: flex;
    flex: 1;
}

.left-top-content {
    flex-direction: column;
    justify-content: flex-start;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 700;
    color: #F9FAF8;
    margin-bottom: 10px;
}

.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 10px;
}

.sign-up-button {
    background-color: #3882f6;
    color: white;
    padding: 8px;
    width: 80px;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
}

.right-top-content {
    align-items: center;
    justify-content: center;
    background-color: #e5e7eb;
}

.first-white-background {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.first-white-body {
    display: flex;
    width: 1000px;
    flex-direction: column;
    justify-content: center;
    padding: 40px 0;
}

.first-white-header {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.first-white-box-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.white-info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.round-box {
    border-radius: 25px;
    border: solid #3882f6 3px;
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

.round-box-text {
    text-align: center;
}

.gray-background {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
}

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 1000px;
    margin: 80px 0;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
    margin-bottom: 20px;
}

.quotee {
    font-size: 18px;
    font-weight: 700;
}

.second-white-background {
    height: 300px;
    display: flex;
    flex-direction: column;
    background-color: white;
}